extends layout

block content
  h1= title
  p The Open Web Platform is a collection of Web technologies developed by the World Wide Web Consortium and other Web standardization bodies. The standards of the Open Web Platform are at different maturity levels, and the development of most standards is still in progress.
  p The primary goal of the Open Web Platform is to create advanced, open Web standards. Internet Society supports these efforts of the World Wide Web Consortium.
